<!DOCTYPE html>
<html>
  <head>
    <title>Ruby4gPayments</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/card/2.4.0/card.css' %>
  </head>

  <body>
    <nav>
     <div class="nav-wrapper">
       <a href="#" class="brand-logo"><img src="https://storage.googleapis.com/mesmerizing-matrix-1380/1/2017/08/logo-4g-white-1.png"></a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="https://docs.4geeks.io/payments">Documentación</a></li>
         <li><a href="https://payments.4geeks.io/settings">API Keys</a></li>
         <li><a href="https://4geeks.io/contact/">Contacto</a></li>
       </ul>
     </div>
   </nav>

    <%= yield %>

    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/card/2.4.0/card.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
